:root{
    --brand-orange: #D87D4A;
    --brand-light-orange: #fbaf85;
    --brand-white: #FAFAFA;
    --brand-grey: #F1F1F1;
    --brand-black: #101010;
    --pure-white: #FFFFFF;
    --pure-black: #000000;
}
body{
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}