:root {
  --brand-orange: #d87d4a;
  --brand-light-orange: #fbaf85;
  --brand-white: #fafafa;
  --brand-grey: #f1f1f1;
  --brand-black: #101010;
  --pure-white: #ffffff;
  --pure-black: #000000;
}
body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.margin {
  margin-top: 200px;
}

.error {
  text-align: center;
  display: block;
  margin-top: 10px;
  color: #cd2c2c;
}

@media (max-width: 991px) {
  .margin {
    margin-top: 150px;
  }
}
@media (max-width: 576px) {
  .margin {
    margin-top: 90px;
  }
}
