.item {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.item img {
  width: 64px;
  height: 64px;
  object-fit: contain;
  border-radius: 8px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.name {
  color: var(--pure-black);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
.price {
  color: var(--pure-black);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;

  opacity: 0.5;
}
.count {
  margin-left: auto;

  color: var(--pure-black);
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;

  opacity: 0.5;
}
